<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <listeners>
        <listener class-name = "testNGfiles.Listeners"/>
    </listeners>

    <test thread-count="5" name="Test">
        <classes>
            <class name="testNGfiles.TestNGdependantMethod"/>
            <class name="testNGfiles.BasicTestNG"/>
        </classes>
    </test>

    <test thread-count="2"  name = "Basic2">
        <classes>
            <class name ="testNGfiles.BasicTestNG">
                <methods>
                    <include name = "testTrue"/>
                    <exclude name = "testFalse"/>
                </methods>
            </class>

            <class name ="testNGfiles.BasicTestNG">
                <methods>
                    <exclude name = "basic.*"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
